body {
    font-family: 'Arial', sans-serif;
    background-color: #EEC78E;
    color: #090C55;
    margin: 0;
    padding: 0;
}

.top-navigation {
    background-color: #090C55;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-navigation a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.top-navigation .logo {
    height: 50px;
}

#reviewForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

#reviewForm textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#reviewForm button {
    background-color: #090C55;
    color: #EEC78E;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#reviewForm button:hover {
    background-color: #EEC78E;
    color: #090C55;
}

#reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.review {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
